<?xml version="1.0"?>
<launch>

    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="use_vel" default="false"/>
    <arg name="test1" default="false" />
    <arg name="test2" default="false" />
    <arg name="test3" default="false" />
    <arg name="test4" default="false" />
    <arg name="test5" default="false" />
    <arg name="test6" default="false" />
    <arg name="test7" default="false" />
    <arg name="test8" default="false" />

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- launch robot localization/-->
    <!--include file="$(find robotx_control)/launch/fake_control.launch"/-->
    <include file="$(find robotx_control)/launch/gazebo_r_l_control.launch" if="$(arg use_vel)" />
    <include file="$(find robotx_control)/launch/gazebo_no_vel_r_l_control.launch" unless="$(arg use_vel)" />
    <!-- imu filter by madgwick/-->
    <include file="$(find robotx_sensor)/launch/imu_filter.launch"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model wamv -param robot_description">
    </node>

	<!-- different test scenario -->
    <include file="$(find robotx_gazebo)/launch/test1.launch" if="$(arg test1)" />
    <include file="$(find robotx_gazebo)/launch/test2.launch" if="$(arg test2)" />
    <include file="$(find robotx_gazebo)/launch/test3.launch" if="$(arg test3)" />
    <include file="$(find robotx_gazebo)/launch/test4.launch" if="$(arg test4)" />
    <include file="$(find robotx_gazebo)/launch/test5.launch" if="$(arg test5)" />
    <include file="$(find robotx_gazebo)/launch/test6.launch" if="$(arg test6)" />
    <include file="$(find robotx_gazebo)/launch/test7.launch" if="$(arg test7)" />
    <include file="$(find robotx_gazebo)/launch/test8.launch" if="$(arg test8)" />

    <!-- bringup camera -->
    <include file="$(find robotx_sensor)/launch/image_rect.launch" >
        <arg name="use_bow" value="true" />
        <arg name="use_port" value="true" />
        <arg name="use_starboard" value="true" />
        <arg name="use_transom" value="true" />
    </include>

    <!-- bring visual odometry -->
    <!--include file="$(find robotx_bringup)/launch/vo_stereo.launch"/-->

    <!-- robot description from auv_ros_description package -->
    <include file="$(find robotx_description)/launch/description.launch">
        <arg name="lidar_enabled" value="false" />
    </include>
    <!-- not in use -->
    <!-- bring stereo image -->
    <!--include file="$(find robotx_bringup)/launch/stereo_proc.launch"/-->
    <!-- bring visual odometry -->
    <!--include file="$(find robotx_bringup)/launch/vo_stereo.launch"/-->

</launch>
