<launch>

    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="green_buoy_name" default="$(find robotx_description)/urdf/green_buoy.urdf"/>
    <arg name="red_buoy_name" default="$(find robotx_description)/urdf/red_buoy.urdf"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <include file="$(find robotx_control)/launch/control.launch"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model auv -param robot_description">
    </node>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn the world -->
    <node name="green_buoy_spawner0" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 5 -y -5 -model gb0 -file $(arg green_buoy_name)" />
    <node name="red_buoy_spawner0" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 5 -y 5 -model rb0 -file $(arg red_buoy_name)" />
    <node name="green_buoy_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 32 -y -5 -model gb1 -file $(arg green_buoy_name)" />
    <node name="red_buoy_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 32 -y 5 -model rb1 -file $(arg red_buoy_name)" />

    <!-- robot description from auv_ros_description package -->
    <include file="$(find robotx_description)/launch/description.launch"/>
    <!-- bring stereo image -->
    <include file="$(find robotx_bringup)/launch/stereo_proc.launch"/>
    <!-- bring visual odometry -->
    <include file="$(find robotx_bringup)/launch/vo_stereo.launch"/>

</launch>
