<launch>

    <arg name="green_buoy_name" default="$(find robotx_description)/urdf/green_buoy.urdf"/>
    <arg name="red_buoy_name" default="$(find robotx_description)/urdf/red_buoy.urdf"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn the world -->
    <node name="green_buoy_spawner0" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 5 -y -5 -model gb0 -file $(arg green_buoy_name)" />
    <node name="red_buoy_spawner0" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 5 -y 5 -model rb0 -file $(arg red_buoy_name)" />
    <node name="green_buoy_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 32 -y -5 -model gb1 -file $(arg green_buoy_name)" />
    <node name="red_buoy_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 32 -y 5 -model rb1 -file $(arg red_buoy_name)" />

</launch>
