<?xml version="1.0"?>
<launch>
    <!--Standalone launch file to visualize the URDF Model of a Clearpath Husky A200-->
    <arg name="gui" default="false" />
    <include file="$(find robotx_description)/launch/description.launch" />
    <param name="use_gui" value="$(arg gui)"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotx_rviz)/rviz/model.rviz" required="true" />
</launch>
