<launch>
    <arg name="input_rgb_image" default="camera/rgb/image_raw" />
    <arg name="roi" default="roi" />
    <arg name="namespace" default="/" />
  <node pkg="robotx_vision" name="camshift" type="camshift.py" output="screen" ns="$(arg namespace)" >
      <remap from="input_rgb_image" to="$(arg input_rgb_image)" />
      <remap from="/roi" to="$(arg roi)" />
    <rosparam>
       smin: 85
       vmin: 50
       vmax: 254
       threshold: 50
    </rosparam>
  </node>
</launch>
