<launch>
    <arg name="input_rgb_image" default="image_raw" />
    <arg name="roi" default="roi" />
    <arg name="namespace" default="fixed_cam" />
    <arg name="color_sequence_roi" default="color_sequence_roi" />
    <node pkg="robotx_vision" name="led_sequence" type="color_sequence.py" output="screen" ns="$(arg namespace)" >
        <remap from="input_rgb_image" to="$(arg input_rgb_image)" />
        <remap from="color_sequence_roi" to="$(arg color_sequence_roi)" />
        <rosparam>
            smin: 85
            vmin: 50
            vmax: 254
            threshold: 50
        </rosparam>
    </node>
</launch>
