<launch>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="bow/left" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="red" />
    </include>
    <!--include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="bow/right" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="red" />
    </include>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="port" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="red" />
    </include>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="starboard" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="red" />
    </include>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="transom" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="red" />
    </include>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="bow/left" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="green" />
    </include>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="bow/right" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="green" />
    </include>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="port" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="green" />
    </include>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="starboard" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="green" />
    </include>
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" default="image_rect_color" />
        <arg name="roi" default="roi" />
        <arg name="namespace" default="transom" />
        <arg name="objectname" default="totem" />
        <arg name="color_under_detect" default="green" />
    </include-->
    <node pkg="robotx_nav" name="red_pub" type="roi_coordinate.py" output="screen">
        <param name="namespace" value="bow/left" />
        <param name="colorname" value="red" />
    </node>
    <!--node pkg="robotx_nav" name="red_pub" type="roi_coordinate.py" ns="bow/right" >
        <param name="colorname" value="red" />
    </node>
    <node pkg="robotx_nav" name="red_pub" type="roi_coordinate.py" ns="port" >
        <param name="colorname" value="red" />
    </node>
    <node pkg="robotx_nav" name="red_pub" type="roi_coordinate.py" ns="starboard" >
        <param name="colorname" value="red" />
    </node>
    <node pkg="robotx_nav" name="red_pub" type="roi_coordinate.py" ns="transom" >
        <param name="colorname" value="red" />
    </node>
    <node pkg="robotx_nav" name="green_pub" type="roi_coordinate.py" ns="bow/left" >
        <param name="colorname" value="green" />
    </node>
    <node pkg="robotx_nav" name="green_pub" type="roi_coordinate.py" ns="bow/right" >
        <param name="colorname" value="green" />
    </node>
    <node pkg="robotx_nav" name="green_pub" type="roi_coordinate.py" ns="port" >
        <param name="colorname" value="green" />
    </node>
    <node pkg="robotx_nav" name="green_pub" type="roi_coordinate.py" ns="starboard" >
        <param name="colorname" value="green" />
    </node>
    <node pkg="robotx_nav" name="green_pub" type="roi_coordinate.py" ns="transom" >
        <param name="colorname" value="green" />
    </node-->
</launch>
