<launch>
	<arg name="namespace" default="starboard"/>
	<arg name="debug" default="true"/>

	<group ns="$(arg namespace)">
		<node
			pkg="robotx_vision"
			type="symbol_identifier"
			name="symbol_identifier"
			required="true"
			output="screen"
		>
		<param name="subscribed_image_topic" value="image_rect_color"/>
		<param name="frame_id" value="my_camera"/>
		<param name="output_topic_name" value="my_object"/>
		<param name="debug" value="$(arg debug)"/>
		</node>
	</group>
</launch>
