<?xml version="1.0" ?>
<launch>
    <arg name="video_device" default="/dev/video0" />
    <arg name="camera_frame_id" default="camera_link" />
    <arg name="namespace" default="bow/left" />
    <arg name="objectname" default="totem" />
    <arg name="camera_info" default="camera_info" />
    <arg name="camera_image_raw" default="image_raw" />
    <arg name="camera_model" default="logitech_c170" />
    <arg name="debug" default="false" />

    <!-- bringup camera /-->
    <include file="$(find robotx_sensor)/launch/usb_cam_image_proc.launch" >
        <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- red /-->
    <!-- get roi /-->
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" value="image_rect_color" />
        <arg name="roi" value="roi" />
        <arg name="namespace" value="bow/left" />
        <arg name="objectname" value="totem" />
        <arg name="color_under_detect" value="red" />
    </include>

    <!-- get coordinate /-->
    <node pkg="robotx_nav" name="red_pub" type="roi_coordinate.py" output="screen">
        <param name="namespace" value="bow/left" />
        <param name="objectname" value="totem" />
        <param name="colorname" value="red" />
    </node>

    <!-- green /-->
    <!-- get roi /-->
    <include file="$(find robotx_vision)/launch/camshift_color.launch" >
        <arg name="input_rgb_image" value="image_rect_color" />
        <arg name="roi" value="roi" />
        <arg name="namespace" value="bow/left" />
        <arg name="objectname" value="totem" />
        <arg name="color_under_detect" value="green" />
    </include>

    <!-- get coordinate /-->
    <node pkg="robotx_nav" name="green_pub" type="roi_coordinate.py" output="screen">
        <param name="namespace" value="bow/left" />
        <param name="objectname" value="totem" />
        <param name="colorname" value="green" />
    </node>

</launch>
