<launch>

    <param name="/use_sim_time" value="true"/>

    <!-- Camera calibration parameters -->
    <arg name="disparity_params" default="$(find robotx_bringup)/config/disparity_params.yaml"/> 

    <!-- Viso2 -->
    <node pkg="viso2_ros" type="stereo_odometer" name="bow_stereo_odometer" respawn="true" output="screen">
        <param name="match_disp_tolerance" value="50" />
        <param name="queue_size" value="20" />
        <param name="approximate_sync" value="true" />
        <remap from="stereo" to="bow_stereo"/>
        <remap from="image" to="image_rect"/>
        <!--remap from="odometry" to="bow_stereo/odometry" /-->
        <param name="sensor_frame_id" value="/bow_stereo/camera_link" />
        <param name="publish_tf" value="false" />
    </node>
    <node pkg="viso2_ros" type="stereo_odometer" name="port_stereo_odometer" output="screen">
        <param name="match_disp_tolerance" value="50" />
        <param name="queue_size" value="20" />
        <param name="approximate_sync" value="true" />
        <remap from="stereo" to="port_stereo"/>
        <remap from="image" to="image_rect"/>
        <!--remap from="odometry" to="port_stereo/odometry" /-->
        <param name="sensor_frame_id" value="/port_stereo/camera_link" />
        <param name="publish_tf" value="false" />
    </node>
    <node pkg="viso2_ros" type="stereo_odometer" name="starboard_stereo_odometer" output="screen">
        <param name="match_disp_tolerance" value="50" />
        <param name="queue_size" value="20" />
        <param name="approximate_sync" value="true" />
        <remap from="stereo" to="starboard_stereo"/>
        <remap from="image" to="image_rect"/>
        <!--remap from="odometry" to="starboard_stereo/odometry" /-->
        <param name="sensor_frame_id" value="/starboard_stereo/camera_link" />
        <param name="publish_tf" value="false" />
    </node>
</launch>
