<?xml version="1.0"?>
<launch>
    <arg name="use_filter" default="true"/>
    <include file="$(find robotx_sensor)/launch/imu_razor.launch">
        <arg name="use_filter" value="$(arg use_filter)" />
    </include>

    <include file="$(find robotx_sensor)/launch/imu_filter.launch" if="$(arg use_filter)" />

</launch>
