<?xml version="1.0"?>
<launch>
    <arg name="use_vel" default="false" />
    <!-- robot state publisher -->
    <include file="$(find robotx_description)/launch/description.launch" >
        <arg name="lidar_enabled" value="false" />
    </include>

        <!-- rosserial to launch motor controller, motor listen to cmd_vel -->
        <include file="$(find robotx_control)/launch/start_motor.launch" />
        <!--cmd_vel is muxed and published in wamv_teleop.launch on base computer-->
        <!-- include file="$(find robotx_bringup)/launch/wamv_teleop.launch" /-->

        <!-- gps launcher -->
        <include file="$(find robotx_sensor)/launch/gps_serial.launch" />
        <!-- imu launcher -->
        <include file="$(find robotx_sensor)/launch/imu_razor_pub.launch" >
            <arg name="calibrate_magn" value="false" />
        </include>

        <!-- robot localization -->
        <include file="$(find robotx_control)/launch/wamv_r_l_control.launch" if="$(arg use_vel)" />
        <!-- or without navsat/vel => odometry/vel -->
        <include file="$(find robotx_control)/launch/wamv_no_vel_r_l_control.launch" unless="$(arg use_vel)" />
    </launch>
