<launch>
    <arg name="mapname" default="blank_map" />
    <arg name="cmd_vel_topic" default="move_base_cmd_vel" />
    <arg name="isgazebo" default="false" />
    <arg name="isfake" default="false" />
    <arg name="iswamv" default="false" />

    <!-- Launch move_base and load all navigation parameters -->
    <include file="$(find robotx_nav)/launch/move_base.launch">
        <arg name="isgazebo" value="$(arg isgazebo)" />
        <arg name="isfake" value="$(arg isfake)" />
        <arg name="iswamv" value="$(arg iswamv)" />
        <arg name="odom_topic" value="/odometry/filtered/global" if="$(arg iswamv)" />
        <arg name="odom_topic" value="/odometry/filtered/global" if="$(arg isgazebo)" />
        <arg name="odom_topic" value="/odom" if="$(arg isfake)" />
        <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    </include>

    <!-- Run the map server with a blank map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robotx_nav)/maps/$(arg mapname).yaml" />

    <!-- Run a static transform between /odom and /map -->
    <!--node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 100" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="baselink_odom_broadcaster" args="0 0 0 0 0 0 /odom /base_link 100" /-->

</launch>
