<launch>
    <!-- Launch move_base and load all navigation parameters -->
    <include file="$(find robotx_nav)/launch/move_base.launch" >
        <arg name="no_static_map" value="true" />
        <arg name="isgazebo" value="true" />
        <arg name="odom_topic" value="odometry/filtered/global" />
    </include>

</launch>
