<?xml version="1.0"?>
<launch>
    <arg name="isreal" default="false" />
    <param name="/use_sim_time" value="$(arg isreal)"/>

    <node pkg="robotx_nav" type="move_base_reverse.py" name="reverse_behavior" >
        <remap from="/odom" to="/odometry/filtered/global" if="$(arg isreal)" />
    </node>

</launch>
