<?xml version="1.0"?>
<launch>
    <arg name="isgazebo" default="false" />
    <arg name="isfake" default="false" />
    <arg name="iswamv" default="false" />
    <param name="/use_sim_time" value="$(arg isgazebo)"/>
    <arg name="angle" default="-3" />

    <node pkg="robotx_nav" type="move_base_rotation.py" name="rotation_behavior" >
        <remap from="/odom" to="/odometry/filtered/global" if="$(arg isgazebo)" />
        <remap from="/odom" to="/odometry/filtered/global" if="$(arg iswamv)" />
	<param name="theta" value="$(arg angle)" type="double"/>
    </node>

</launch>
