<robot name="blue_buoy">
  <link name="blue_buoy">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="10.0" />
      <inertia  ixx="10.0" ixy="0.0"  ixz="0.0"  iyy="10.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.5"/>
      <geometry>
            <mesh filename="package://robotx_description/meshes/totem_cap.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.99" radius="0.127" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="blue_buoy">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>
