<robot name="test1"> 
    <link name="water_surface"/> 
    <joint name="start_green_buoy_joint" type="fixed"> 
        <origin xyz="0 0 0" rpy="0 0 0" /> 
        <parent link="water_surface"/>
        <child link="start_green_buoy"/>
    </joint> 
    <joint name="end_green_buoy_joint" type="fixed"> 
        <origin xyz="0 0 0" rpy="0 0 0" /> 
        <parent link="water_surface"/> 
        <child link="end_green_buoy"/> 
    </joint> 
    <joint name="start_red_buoy_joint" type="fixed"> 
        <origin xyz="0 0 0" rpy="0 0 0" /> 
        <parent link="water_surface"/> 
        <child link="start_red_buoy"/> 
    </joint> 
    <joint name="end_red_buoy_joint" type="fixed"> 
        <origin xyz="0 0 0" rpy="0 0 0" /> 
        <parent link="water_surface"/> 
        <child link="end_red_buoy"/> 
    </joint> 

    <link name="start_green_buoy">
        <inertial>
            <origin xyz="-10 -5 0" />
            <mass value="10.0" />
            <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="-10 -5 -1"/>
            <geometry>
                <mesh filename="package://robotx_description/meshes/green_buoy_marker.dae" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="-10 -5 0"/>
            <geometry>
                <cylinder length="2" radius="0.5" />
            </geometry>
        </collision>
    </link>
    <link name="end_green_buoy">
        <inertial>
            <origin xyz="10 -5 0" />
            <mass value="10.0" />
            <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="10 -5 -1"/>
            <geometry>
                <mesh filename="package://robotx_description/meshes/green_buoy_marker.dae" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="10 -5 0"/>
            <geometry>
                <cylinder length="2" radius="0.5" />
            </geometry>
        </collision>
    </link>

    <link name="start_red_buoy">
        <inertial>
            <origin xyz="-10 5 0" />
            <mass value="10.0" />
            <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="-10 5 -1"/>
            <geometry>
                <mesh filename="package://robotx_description/meshes/red_buoy_marker.dae" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="-10 5 0"/>
            <geometry>
                <cylinder length="2" radius="0.5" />
            </geometry>
        </collision>
    </link>
    <link name="end_red_buoy">
        <inertial>
            <origin xyz="10 5 0" />
            <mass value="10.0" />
            <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="10 5 -1"/>
            <geometry>
                <mesh filename="package://robotx_description/meshes/red_buoy_marker.dae" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="10 5 0"/>
            <geometry>
                <cylinder length="2" radius="0.5" />
            </geometry>
        </collision>
    </link>

    <gazebo reference="start_green_buoy">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="end_green_buoy">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="start_red_buoy">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="end_red_buoy">
        <material>Gazebo/Red</material>
    </gazebo>
</robot>
