<?xml version="1.0"?>
<launch>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local" respawn="true" output="screen" >
        <rosparam command="load" file="$(find robotx_control)/config/localization_local.yaml" />
        <remap from="odometry/filtered" to="odometry/filtered/local" />
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global" respawn="true" output="screen" >
        <rosparam command="load" file="$(find robotx_control)/config/localization_global.yaml" />
        <remap from="odometry/filtered" to="odometry/filtered/global" />
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" respawn="true" >
        <rosparam command="load" file="$(find robotx_control)/config/gps_navsat_transform.yaml" />
        <remap from="gps/fix" to="/navsat/fix" />
        <remap from="imu/data" to="/front_left_imu/imu/data" />
    </node>

</launch>
