<launch>

  <!--- Teleop Joystick -->
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick" output="screen">
    <param name="scale_angular" value="2"/>
    <param name="scale_linear" value="8"/>
    <param name="axis_deadman" value="5"/>
    <remap from="turtlebot_teleop_joystick/cmd_vel" to="cmd_vel" />
  </node>

  <node pkg="joy" type="joy_node" name="joystick" output="screen" />

</launch>
