<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="false"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global" respawn="true" >
        <rosparam command="load" file="$(find robotx_control)/config/wamv_no_vel/localization_global.yaml" />
        <remap from="odometry/filtered" to="odometry/filtered/global" />
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" >
        <rosparam command="load" file="$(find robotx_control)/config/wamv_no_vel/gps_navsat_transform.yaml" />
        <remap from="gps/fix" to="navsat/fix" />
        <remap from="imu/data" to="middle_middle_imu/imu/data" />
        <remap from="odometry/filtered" to="odometry/filtered/global" />
    </node>

    <!--node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" /-->

    <node pkg="robotx_bringup" type="map_to_odom_broadcaster.py" name="map_to_odom_br" >
        <param name="map_lat" value= "21.311920" />
        <param name="map_lon" value= "-157.889521" />
    </node>

</launch>
