<?xml version="1.0" ?>
<launch>
    <arg name="ishemisphere" default="false" />
    <!-- call nmea_navsat to output gps /fix message-->
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps_serial">
        <!--param name="useRMC" value="True"/-->
        <param name="port" value="/dev/USBgps"/>
        <param name="baud" value="9600" unless="$(arg ishemisphere)" />
        <param name="baud" value="57600" if="$(arg ishemisphere)" />
        <param name="frame_id" value="gps_link"/>
        <remap from="fix" to="/navsat/fix" />
        <remap from="vel" to="/navsat/vel" />
    </node>
</launch>
