<?xml version="1.0"?>
<launch>
    <arg name="ismyahrs" default="true" />
    <include file="$(find robotx_sensor)/launch/rtimulib.launch"  unless="$(arg ismyahrs)" >
        <arg name="ismpu" value="true" unless="$(arg ismyahrs)" />
    </include>

    <include file="$(find robotx_sensor)/launch/myahrs.launch"  if="$(arg ismyahrs)" >
        <arg name="debug" value="false" />
    </include>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen">
        <!--remap from="imu/data_raw" to="imu/data_raw"/>
        <remap from="imu/mag" to="imu/mag"/>
        <remap from="imu/data" to="imu/data"/-->
        <param name="use_mag" value="true"/>
        <param name="use_magnetic_field_msg" value="true"/>
        <!--param name="world_frame" value="enu"/-->
        <param name="fixed_frame" value="map"/>
        <param name="publish_tf" value="false"/>
    </node>

</launch>
